.DropShadow {
  filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.5));
}
.NavFont {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: 'Barlow', sans-serif;
}
.SectionHeader {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Barlow Condensed', sans-serif;
  font-style: italic;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #4d69c6;
}
section {
  margin-top: 15px;
  justify-content: center;
}
@media (max-width: 700px) {
  section {
    margin: 0;
  }
}
p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.3;
  letter-spacing: -1px;
  padding-top: 10px;
}
.cta {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
  margin-top: 20px;
  background-color: #22ba0c;
  padding: 10px;
  border-radius: 10px;
  color: white;
  filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.5));
}
@media (max-width: 840px) {
  .cta {
    font-size: 1.7rem;
    padding: 5px;
  }
}
.sectionImage {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 2px solid #091929;
  border-radius: 12px;
  max-width: 500px;
  background-size: cover;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-position: right;
  height: 401px;
  width: 45%;
  margin: 0 10px;
}
@media (max-width: 700px) {
  .sectionImage {
    width: 90%;
  }
}
.sectionText {
  max-width: 500px;
}
.container {
  max-width: 1000px;
  margin: 20px auto 40px;
  border: 1px solid #091929;
  border-width: 2px 2px 2px 2px;
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-clip: border-box;
}
@media (max-width: 700px) {
  .container {
    margin: 15px 10px;
  }
}
.container header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 248, 220, 0.6) !important;
  background-image: url(../source/carpetBackground.jpg);
  background-blend-mode: color;
  border-radius: 10px 10px 0 0;
}
.container header .logo {
  align-self: center;
}
.container header .logo img {
  filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.5));
}
.container header .logo h2 {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: 'Barlow', sans-serif;
  font-size: 1.7rem;
  color: #1a4572;
  font-weight: 900;
  text-align: center;
  padding-bottom: 10px;
  margin-top: -30px;
}
.container header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #1a4572;
  padding: 5px 0;
  border: 1px solid #091929;
  border-width: 2px 0px 2px 0px;
}
@media (max-width: 700px) {
  .container header nav {
    border: none;
  }
}
.container header nav a {
  color: #afe99e;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: 'Barlow', sans-serif;
  filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.5));
}
@media (max-width: 700px) {
  .container header nav a {
    font-size: 1rem;
  }
}
.container #carpet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container #carpet .sectionText {
  width: 40%;
  padding: 0 5%;
}
@media (max-width: 700px) {
  .container #carpet .sectionText {
    width: 90%;
    padding: 5%;
  }
}
.container #carpet .sectionText h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Barlow Condensed', sans-serif;
  font-style: italic;
  margin: 0 0 10px;
  text-align: center;
  color: #1a4572;
}
.container #carpet .sectionImage {
  background-position: left;
  background-image: url(../source/carpet.jpg);
}
.container #hardWood {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.container #hardWood .sectionText {
  width: 40%;
  padding: 0 5%;
}
@media (max-width: 700px) {
  .container #hardWood .sectionText {
    width: 90%;
    padding: 5%;
  }
}
.container #hardWood .sectionText h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Barlow Condensed', sans-serif;
  font-style: italic;
  margin: 10px 0;
  text-align: center;
  color: #1a4572;
}
.container #hardWood .sectionImage {
  background-image: url(../source/hardwood.jpg);
}
.container #tile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container #tile .sectionText {
  width: 40%;
  padding: 0 5%;
}
@media (max-width: 700px) {
  .container #tile .sectionText {
    width: 90%;
    padding: 5%;
  }
}
.container #tile .sectionText h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Barlow Condensed', sans-serif;
  font-style: italic;
  margin: 10px 0;
  text-align: center;
  color: #1a4572;
}
.container #tile .sectionImage {
  background-image: url(../source/tile.jpg);
}
.container #mattress {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.container #mattress .sectionText {
  width: 40%;
  padding: 0 5%;
}
@media (max-width: 700px) {
  .container #mattress .sectionText {
    width: 90%;
    padding: 5%;
  }
}
.container #mattress .sectionText h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Barlow Condensed', sans-serif;
  font-style: italic;
  margin: 10px 0;
  text-align: center;
  color: #1a4572;
}
.container #mattress .sectionImage {
  background-image: url(../source/mattress.jpg);
}
.container #upholstery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.container #upholstery .sectionText {
  width: 40%;
  padding: 0 5%;
}
@media (max-width: 700px) {
  .container #upholstery .sectionText {
    width: 90%;
    padding: 5%;
  }
}
.container #upholstery .sectionText h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Barlow Condensed', sans-serif;
  font-style: italic;
  margin: 10px 0;
  text-align: center;
  color: #1a4572;
}
.container #upholstery .sectionImage {
  background-image: url(../source/upholstery.jpg);
}
