body {
  background-color: @gfBlue;
}

section {
  margin-top: 15px;
  justify-content: center;
  @media @media700 {
    margin: 0;
  }
}
p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.3;
  letter-spacing: -1px;
  padding-top: 10px;
}

.cta {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Barlow Condensed', sans-serif;

  text-align: center;

  margin-top: 20px;
  background-color: #22ba0c;
  padding: 10px;
  border-radius: 10px;
  color: white;
  .DropShadow;
  @media (max-width: 840px) {
    font-size: 1.7rem;
    padding: 5px;
  }
}
.sectionImage {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 2px solid @gfBlueDark;
  border-radius: 12px;
  max-width: 500px;
  background-size: cover;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-position: right;
  height: 401px;
  width: 45%;
  margin: 0 10px;

  @media @media700 {
    width: 90%;
  }
}

.sectionText {
  max-width: 500px;
}

.container {
  max-width: 1000px;
  margin: 20px auto 40px;
  .CustomBorder(solid, @gfBlueDark, 2, 2, 2, 2);
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-clip: border-box;

  @media @media700 {
    margin: 15px 10px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 248, 220, 0.6) !important;
    background-image: url(../source/carpetBackground.jpg);
    background-blend-mode: color;
    border-radius: 10px 10px 0 0;

    .logo {
      align-self: center;

      img {
        .DropShadow;
      }
      h2 {
        .NavFont;

        font-size: 1.7rem;
        color: @gfBlue3;
        font-weight: 900;
        text-align: center;
        padding-bottom: 10px;
        margin-top: -30px;
      }
    }
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: @gfBlue3;
      padding: 5px 0;

      .CustomBorder(solid, @gfBlueDark, 2, 0, 2, 0);
      @media @media700 {
        border: none;
      }
      a {
        color: @gfGreen1;
        .NavFont;
        .DropShadow;
        @media @media700 {
          font-size: 1rem;
        }
      }
    }
  }

  #carpet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .sectionText {
      width: 40%;
      padding: 0 5%;
      @media @media700 {
        width: 90%;
        padding: 5%;
      }
      h2 {
        .SectionHeader;
        margin: 0 0 10px;
        text-align: center;
        color: @gfBlue3;
      }
    }
    .sectionImage {
      background-position: left;
      background-image: url(../source/carpet.jpg);
    }
  }
  #hardWood {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    .sectionText {
      width: 40%;
      padding: 0 5%;
      @media @media700 {
        width: 90%;
        padding: 5%;
      }
      h2 {
        .SectionHeader;
        margin: 10px 0;
        text-align: center;
        color: @gfBlue3;
      }
    }
    .sectionImage {
      background-image: url(../source/hardwood.jpg);
    }
  }
  #tile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .sectionText {
      width: 40%;
      padding: 0 5%;
      @media @media700 {
        width: 90%;
        padding: 5%;
      }
      h2 {
        .SectionHeader;
        margin: 10px 0;
        text-align: center;
        color: @gfBlue3;
      }
    }
    .sectionImage {
      background-image: url(../source/tile.jpg);
    }
  }
  #mattress {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    .sectionText {
      width: 40%;
      padding: 0 5%;
      @media @media700 {
        width: 90%;
        padding: 5%;
      }
      h2 {
        .SectionHeader;
        margin: 10px 0;
        text-align: center;
        color: @gfBlue3;
      }
    }
    .sectionImage {
      background-image: url(../source/mattress.jpg);
    }
  }
  #upholstery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;

    .sectionText {
      width: 40%;
      padding: 0 5%;
      @media @media700 {
        width: 90%;
        padding: 5%;
      }
      h2 {
        .SectionHeader;
        margin: 10px 0;
        text-align: center;
        color: @gfBlue3;
      }
    }
    .sectionImage {
      background-image: url(../source/upholstery.jpg);
    }
  }
}
